body {
  background-color: #ede7f6;
}
.split {
  margin-left: 120px;
  margin-right: 120px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 30px;
  font-family: "Google Sans", "Roboto", Helvetica, Arial, sans-serif;
}

.abc {
  background-color: #6703c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10px;
}
.efg {
  padding-left: 30px;
}
.container {
  margin-left: 120px;
  margin-right: 120px;
  background-color: white;
  padding-bottom: 30px;
  font-family: "Google Sans", "Roboto", Helvetica, Arial, sans-serif;
  border-radius: 10px;
}
h5 {
  background-color: #6703c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 20px;
  color: white;
  font-size: 25px;
}
.xyz {
  padding-left: 30px;
}
.container2 {
  margin-left: 120px;
  margin-right: 120px;
  background-color: white;
  padding-bottom: 40px;
  font-family: "Google Sans", "Roboto", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 25px;
  margin-top: 15px;
}
.buttons {
  display: inline;
  margin-left: 120px;
}
button {
  width: 90px;
  background-color: white;
  padding: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Google Sans", "Roboto", Helvetica, Arial, sans-serif;
  color: blue;
}
.required {
  color: red;
}
